{
  "overrides": [
    {
      "files": ["COMMIT_EDITMSG"],
      "options": {
        "parser": "markdown",
        "printWidth": 72,
        "proseWrap": "always"
      }
    },
    {
      "files": ["docs/**/*.md"],
      "options": {
        "parser": "markdown",
        "tabWidth": 4
      }
    }
  ]
}
