[tool.isort]
profile = "black"
src_paths = ["inboard", "tests"]

[tool.poetry]
name = "inboard"
version = "0.4.0"
description = "Docker images to power your Python APIs and help you ship faster."
authors = ["Brendon Smith <br3ndonland@protonmail.com>"]
license = "MIT"
homepage = "https://github.com/br3ndonland/inboard"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
gunicorn = "^20"
uvicorn = "^0.11.8"
fastapi = {version = "^0.61", optional = true}
starlette = {version = "^0.13", optional = true}

[tool.poetry.dev-dependencies]
black = {version = "^20.8b1", allow-prereleases = true}
docker = "^4.3"
flake8 = "^3.8"
isort = "^5.5"
mypy = "0.782"
pre-commit = "^2.7"
pytest = "^6"
pytest-mock = "^3.3"

[tool.poetry.extras]
fastapi = ["fastapi"]
starlette = ["starlette"]

[tool.pytest.ini_options]
addopts = "-q"
minversion = "6.0"
testpaths = ["tests"]

[build-system]
requires = ["poetry>=1.0.10"]
build-backend = "poetry.masonry.api"
