[tool.isort]
profile = "black"
src_paths = ["inboard", "tests"]

[tool.poetry]
name = "inboard"
version = "0.5.7"
description = "Docker images to power your Python APIs and help you ship faster."
authors = ["Brendon Smith <br3ndonland@protonmail.com>"]
license = "MIT"
homepage = "https://github.com/br3ndonland/inboard"
readme = "README.md"
include = ["inboard/py.typed"]
keywords = ["asgi", "docker", "fastapi", "gunicorn", "uvicorn"]
classifiers = [
  "Natural Language :: English",
  "Topic :: Internet :: Log Analysis",
  "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
  "Topic :: Internet :: WWW/HTTP :: WSGI",
  "Topic :: Software Development :: Libraries :: Application Frameworks",
  "Topic :: System :: Software Distribution",
  "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "^3.8"
gunicorn = "^20"
uvicorn = {version = "^0.12.1", extras = ["standard"]}
fastapi = {version = "^0.61", optional = true}
starlette = {version = "^0.13", optional = true}

[tool.poetry.dev-dependencies]
black = {version = "^20.8b1", allow-prereleases = true}
docker = "^4.3"
flake8 = "^3.8"
isort = "^5.6"
mypy = "0.790"
pre-commit = "^2.7"
pytest = "^6.1"
pytest-cov = "^2.10"
pytest-mock = "^3.3"

[tool.poetry.extras]
fastapi = ["fastapi"]
starlette = ["starlette"]

[tool.pytest.ini_options]
addopts = "--cov=inboard -q"
minversion = "6.0"
testpaths = ["tests"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
