name: ci

on:
  pull_request:
  push:
    branches: [develop, main]
    tags: ["[0-9]+.[0-9]+.[0-9]+*"]
  workflow_dispatch:

env:
  DOCKER_BUILDKIT: "1"
  HATCH_ENV: "ci"
  HATCH_VERSION: "1.6.3"
  PIPX_VERSION: "1.1.0"

jobs:
  python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up pip cache
        if: runner.os == 'Linux'
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}
          restore-keys: ${{ runner.os }}-pip-
      - name: Set up pre-commit cache
        if: runner.os == 'Linux'
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: ${{ runner.os }}-pre-commit-
      - name: Install pipx for Python ${{ matrix.python-version }}
        run: python -m pip install "pipx==$PIPX_VERSION"
      - name: Install Hatch
        run: pipx install "hatch==$HATCH_VERSION"
      - name: Test Hatch version
        run: |
          HATCH_VERSION_INSTALLED=$(hatch --version)
          echo "The HATCH_VERSION environment variable is set to $HATCH_VERSION."
          echo "The installed Hatch version is ${HATCH_VERSION_INSTALLED##Hatch, version }."
          case $HATCH_VERSION_INSTALLED in
          *$HATCH_VERSION) echo "Hatch version correct." ;;
          *) echo "Hatch version incorrect." && exit 1 ;;
          esac
      - name: Install dependencies
        run: hatch env create ci
      - name: Test virtualenv location
        run: |
          EXPECTED_VIRTUALENV_PATH=$GITHUB_WORKSPACE/.venv
          INSTALLED_VIRTUALENV_PATH=$(hatch env find)
          echo "The virtualenv should be at $EXPECTED_VIRTUALENV_PATH."
          echo "Hatch is using a virtualenv at $INSTALLED_VIRTUALENV_PATH."
          case "$INSTALLED_VIRTUALENV_PATH" in
          "$EXPECTED_VIRTUALENV_PATH") echo "Correct Hatch virtualenv." ;;
          *) echo "Incorrect Hatch virtualenv." && exit 1 ;;
          esac
      - name: Test that Git tag version and Python package version match
        if: github.ref_type == 'tag' && matrix.python-version == '3.10'
        run: |
          GIT_TAG_VERSION=$GITHUB_REF_NAME
          PACKAGE_VERSION=$(hatch version)
          echo "The Python package version is $PACKAGE_VERSION."
          echo "The Git tag version is $GIT_TAG_VERSION."
          if [ "$PACKAGE_VERSION" = "$GIT_TAG_VERSION" ]; then
            echo "Versions match."
          else
            echo "Versions do not match." && exit 1
          fi
      - name: Run spell check
        uses: streetsidesoftware/cspell-action@v2
        with:
          check_dot_files: true
          files: "**/*.md"
          incremental_files_only: false
          strict: true
      - name: Run pre-commit hooks
        run: hatch run pre-commit run --all-files
      - name: Run tests
        run: hatch run coverage run
      - name: Enforce test coverage
        run: hatch run coverage report
      - name: Build Python package
        run: hatch build
      - name: Publish Python package to PyPI
        if: github.ref_type == 'tag' && matrix.python-version == '3.10'
        run: hatch publish -n -u __token__ -a ${{ secrets.PYPI_TOKEN }}
  docker:
    runs-on: ubuntu-latest
    needs: [python]
    strategy:
      fail-fast: false
      matrix:
        linux-version: ["", "alpine", "slim"]
        python-version: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: python3 -m pip install httpie
      - name: Set up versions and Docker tags for Python and Alpine Linux
        id: setup
        run: |
          LINUX_VERSION=${{ matrix.linux-version }}
          LINUX_TAG=${LINUX_VERSION:+-$LINUX_VERSION}
          PYTHON_VERSION=${{ matrix.python-version }}
          PYTHON_TAG="-python$PYTHON_VERSION"
          echo "LINUX_VERSION=$LINUX_VERSION" >> $GITHUB_ENV
          echo "LINUX_TAG=$LINUX_TAG" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$PYTHON_VERSION" >> $GITHUB_ENV
          echo "PYTHON_TAG=$PYTHON_TAG" >> $GITHUB_ENV
      - name: Build Docker images
        run: |
          docker build . --rm --target base \
            --build-arg BUILDKIT_INLINE_CACHE=1 \
            --build-arg HATCH_VERSION="$HATCH_VERSION" \
            --build-arg LINUX_VERSION="$LINUX_VERSION" \
            --build-arg PIPX_VERSION="$PIPX_VERSION" \
            --build-arg PYTHON_VERSION="$PYTHON_VERSION" \
            --cache-from ghcr.io/br3ndonland/inboard \
            -t ghcr.io/br3ndonland/inboard:base"$LINUX_TAG"
          docker build . --rm --target starlette \
            --build-arg BUILDKIT_INLINE_CACHE=1 \
            --build-arg HATCH_VERSION="$HATCH_VERSION" \
            --build-arg LINUX_VERSION="$LINUX_VERSION" \
            --build-arg PIPX_VERSION="$PIPX_VERSION" \
            --build-arg PYTHON_VERSION="$PYTHON_VERSION" \
            -t ghcr.io/br3ndonland/inboard:starlette"$LINUX_TAG"
          docker build . --rm --target fastapi \
            --build-arg BUILDKIT_INLINE_CACHE=1 \
            --build-arg HATCH_VERSION="$HATCH_VERSION" \
            --build-arg LINUX_VERSION="$LINUX_VERSION" \
            --build-arg PIPX_VERSION="$PIPX_VERSION" \
            --build-arg PYTHON_VERSION="$PYTHON_VERSION" \
            -t ghcr.io/br3ndonland/inboard:fastapi"$LINUX_TAG"
      - name: Run Docker containers for testing
        run: |
          docker run -d -p 80:80 --name inboard-base \
            -e "BASIC_AUTH_USERNAME=test_user" \
            -e "BASIC_AUTH_PASSWORD=r4ndom_bUt_memorable" \
            ghcr.io/br3ndonland/inboard:base"$LINUX_TAG"
          docker run -d -p 81:80 --name inboard-starlette \
            -e "BASIC_AUTH_USERNAME=test_user" \
            -e "BASIC_AUTH_PASSWORD=r4ndom_bUt_memorable" \
            ghcr.io/br3ndonland/inboard:starlette"$LINUX_TAG"
          docker run -d -p 82:80 --name inboard-fastapi \
            -e "BASIC_AUTH_USERNAME=test_user" \
            -e "BASIC_AUTH_PASSWORD=r4ndom_bUt_memorable" \
            ghcr.io/br3ndonland/inboard:fastapi"$LINUX_TAG"
      - name: Test Hatch version in Docker containers
        run: |
          test_hatch_version_in_docker() {
            echo "The HATCH_VERSION environment variable is set to $HATCH_VERSION."
            local hatch_version_in_docker hatch_version_in_docker_full
            for container_name in "$@"; do
              hatch_version_in_docker_full=$(docker exec "$container_name" hatch --version)
              hatch_version_in_docker="${hatch_version_in_docker_full##Hatch, version }"
              if [ -n "$hatch_version_in_docker" ]; then
                echo "Docker container $container_name has $hatch_version_in_docker."
              fi
              case $hatch_version_in_docker in
              *$HATCH_VERSION) echo "Hatch versions match for $container_name." ;;
              *) echo "Hatch version test failed for $container_name." && return 1 ;;
              esac
            done
          }
          test_hatch_version_in_docker inboard-base inboard-starlette inboard-fastapi
      - name: Test virtualenv location in Docker containers
        run: |
          test_virtualenv_location_in_docker() {
            local docker_virtualenv docker_python expected_virtualenv expected_python
            expected_virtualenv="/app/.venv"
            expected_python="$expected_virtualenv/bin/python"
            echo "The Hatch virtualenv should be at $expected_virtualenv."
            echo "The Python executable should be at $expected_python."
            for container_name in "$@"; do
              docker_virtualenv=$(docker exec "$container_name" hatch env find)
              docker_python=$(docker exec "$container_name" which python)
              case "$docker_virtualenv" in
              "$expected_virtualenv") echo "Correct Hatch virtualenv $docker_virtualenv for $container_name." ;;
              *) echo "Incorrect Hatch virtualenv $docker_virtualenv for $container_name." && return 1 ;;
              esac
              case "$docker_python" in
              "$expected_python") echo "Correct Python $docker_python for $container_name." ;;
              *) echo "Incorrect Python $docker_python for $container_name." && return 1 ;;
              esac
            done
          }
          test_virtualenv_location_in_docker inboard-base inboard-starlette inboard-fastapi
      - name: Smoke test Docker containers
        run: |
          handle_error_code() {
            case "$1" in
            2) : 'Request timed out!' ;;
            3) : 'Unexpected HTTP 3xx Redirection!' ;;
            4) : 'HTTP 4xx Client Error!' ;;
            5) : 'HTTP 5xx Server Error!' ;;
            6) : 'Exceeded --max-redirects=<n> redirects!' ;;
            *) : 'Other Error!' ;;
            esac
            echo "$_"
            return "$1"
          }
          smoke_test() {
            if http --check-status --ignore-stdin -q --timeout=5 "$@"; then
              echo 'Smoke test passed. OK!'
            else
              handle_error_code "$?"
            fi
          }
          smoke_test_xfail() {
            if http --check-status --ignore-stdin -q --timeout=5 "$@" &>/dev/null; then
              echo 'Smoke test should have failed!'
              return 1
            else
              echo 'Smoke test expected to fail. OK!'
            fi
          }
          smoke_test :80
          smoke_test :81
          smoke_test :82
          smoke_test -a test_user:r4ndom_bUt_memorable :81/status
          smoke_test -a test_user:r4ndom_bUt_memorable :82/status
          smoke_test_xfail -a test_user:incorrect_password :81/status
          smoke_test_xfail -a test_user:incorrect_password :82/status
          smoke_test_xfail :81/status
          smoke_test_xfail :82/status
      - name: Log in to Docker registry
        if: >
          github.ref_type == 'tag' ||
          github.ref == 'refs/heads/develop' ||
          github.ref == 'refs/heads/main'
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io \
            -u ${{ github.actor }} --password-stdin
      - name: Tag and push Docker images with latest tags
        if: >
          matrix.python-version == '3.10' &&
          (
            github.ref_type == 'tag' ||
            github.ref == 'refs/heads/develop' ||
            github.ref == 'refs/heads/main'
          )
        run: |
          docker push ghcr.io/br3ndonland/inboard:base"$LINUX_TAG"
          docker push ghcr.io/br3ndonland/inboard:starlette"$LINUX_TAG"
          docker push ghcr.io/br3ndonland/inboard:fastapi"$LINUX_TAG"
          docker tag \
            ghcr.io/br3ndonland/inboard:fastapi"$LINUX_TAG" \
            ghcr.io/br3ndonland/inboard:latest"$LINUX_TAG"
          docker push ghcr.io/br3ndonland/inboard:latest"$LINUX_TAG"
      - name: Tag and push Docker images with Python version
        if: github.ref_type == 'tag' || github.ref == 'refs/heads/main'
        run: |
          docker tag \
            ghcr.io/br3ndonland/inboard:base"$LINUX_TAG" \
            ghcr.io/br3ndonland/inboard:base"$PYTHON_TAG$LINUX_TAG"
          docker tag \
            ghcr.io/br3ndonland/inboard:starlette"$LINUX_TAG" \
            ghcr.io/br3ndonland/inboard:starlette"$PYTHON_TAG$LINUX_TAG"
          docker tag \
            ghcr.io/br3ndonland/inboard:fastapi"$LINUX_TAG" \
            ghcr.io/br3ndonland/inboard:fastapi"$PYTHON_TAG$LINUX_TAG"
          docker push ghcr.io/br3ndonland/inboard:base"$PYTHON_TAG$LINUX_TAG"
          docker push ghcr.io/br3ndonland/inboard:starlette"$PYTHON_TAG$LINUX_TAG"
          docker push ghcr.io/br3ndonland/inboard:fastapi"$PYTHON_TAG$LINUX_TAG"
      - name: Tag and push Docker images with Git tag
        if: github.ref_type == 'tag'
        run: |
          GIT_TAG_FULL=${{ github.ref_name }}
          GIT_TAG_MAJOR_MINOR=$(echo "$GIT_TAG_FULL" | cut -d '.' -f 1-2)
          for GIT_TAG in "$GIT_TAG_FULL" "$GIT_TAG_MAJOR_MINOR"; do
            docker tag \
              ghcr.io/br3ndonland/inboard:"base$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"base-$GIT_TAG$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"starlette$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"starlette-$GIT_TAG$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"fastapi$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"fastapi-$GIT_TAG$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"base$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"base-$GIT_TAG$PYTHON_TAG$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"starlette$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"starlette-$GIT_TAG$PYTHON_TAG$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"fastapi$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"fastapi-$GIT_TAG$PYTHON_TAG$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"base$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"$GIT_TAG-base$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"starlette$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"$GIT_TAG-starlette$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"fastapi$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"$GIT_TAG-fastapi$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"base$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"$GIT_TAG-base$PYTHON_TAG$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"starlette$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"$GIT_TAG-starlette$PYTHON_TAG$LINUX_TAG"
            docker tag \
              ghcr.io/br3ndonland/inboard:"fastapi$LINUX_TAG" \
              ghcr.io/br3ndonland/inboard:"$GIT_TAG-fastapi$PYTHON_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"base-$GIT_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"starlette-$GIT_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"fastapi-$GIT_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"base-$GIT_TAG$PYTHON_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"starlette-$GIT_TAG$PYTHON_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"fastapi-$GIT_TAG$PYTHON_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"$GIT_TAG-base$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"$GIT_TAG-starlette$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"$GIT_TAG-fastapi$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"$GIT_TAG-base$PYTHON_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"$GIT_TAG-starlette$PYTHON_TAG$LINUX_TAG"
            docker push ghcr.io/br3ndonland/inboard:"$GIT_TAG-fastapi$PYTHON_TAG$LINUX_TAG"
          done
  changelog:
    if: github.ref_type == 'tag'
    needs: [python, docker]
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: develop
      - name: Generate changelog from Git tags
        run: |
          echo '# Changelog
          ' >CHANGELOG.md

          echo '# Changelog

          [View on GitHub](https://github.com/br3ndonland/inboard/blob/develop/CHANGELOG.md)
          ' >docs/changelog.md

          GIT_LOG_FORMAT='## %(subject) - %(taggerdate:short)

          %(contents:body)
          Tagger: %(taggername) %(taggeremail)

          Date: %(taggerdate:iso)

          ```text
          %(contents:signature)```
          '

          git tag -l --sort=-taggerdate:iso --format="$GIT_LOG_FORMAT" >>CHANGELOG.md
          git tag -l --sort=-taggerdate:iso --format="$GIT_LOG_FORMAT" >>docs/changelog.md

          # shellcheck disable=SC2016
          ESCAPE_DUNDERS='s:([^`])(__)([a-z]+)(__)([^`]):\1\\_\\_\3\\_\\_\5:g'
          sed -Ei "$ESCAPE_DUNDERS" CHANGELOG.md
          sed -Ei "$ESCAPE_DUNDERS" docs/changelog.md
      - name: Format changelog with Prettier
        run: npx -s -y prettier@'^2' --write CHANGELOG.md docs/changelog.md
      - name: Create pull request with updated changelog
        uses: peter-evans/create-pull-request@v4
        with:
          add-paths: |
            CHANGELOG.md
            docs/changelog.md
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          branch: create-pull-request/${{ github.ref_name }}
          commit-message: Update changelog for version ${{ github.ref_name }}
          title: Update changelog for version ${{ github.ref_name }}
